*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

:root {
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
  --bg-color: #0F172A;
  --stroke-color: #1E293B;
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  --ff-serif: "Archivo", serif;
  --fw-xb: 900;
  --fw-sb: 600;
  --fw-base: 400;
  
  --fs-xs: 0.625rem;
  --fs-sm: .875rem;
  --fs-base: 1rem;
  --fs-lg: 1.25rem;

  --px-base: 1rem;
  --py-base: 1rem;
  --py-lg: 2rem;
  --py-sm: .875rem;
}

html {
  font-family: var(--ff-serif);
  font-size: var(--fs-base);
  line-height: 1.6;
  color: var(--text-color-primary);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
}

h1, h2, h3 {
  font-weight: var(--fw-xb);
}

h1 {
  line-height: 1.35;
}

a {
  text-decoration: none;
  color: var(--text-color-secondary);
  font-weight: var(--fw-sb);
  font-size: var(--fs-sm);
}

a:hover {
  color: var(--brand-color-light);
}

h2, h3 {
  line-height: 1.40;
}

img {
  max-width: 100%;
  display: inline-block;
}

@media (width >= 80em) {
  :root {
    --px-base: 2rem;
    --py-base: 1rem;
    --py-lg: 2rem;
  }

  main {
    grid-template-columns: 2fr 1.42fr;

    column-gap: 2rem;
    grid-template-areas: 
    "featured featured"
    "weekly weekly"
    "highlights aside";
  }
}
