#featured {
  padding-bottom: 1rem;

  & .card {
    & .highlight {
      height: 26rem;
    }

    position: relative;
    overflow: hidden;
    border-radius: .25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(
        180deg,
        transparent 0%,
        #020617 100%
      );
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & .card-content {
      position: absolute;
      bottom: 15px;
      left: 15px;
      
      & h1{
        font-size: var(--fs-lg);
      }
    }
  }
}
@media (width >= 80em) {
  #featured {
    grid-template-columns: 1fr 1fr;
    grid-area: featured;
    & #desktop-grid {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

  }
}


#weekly {
  & .divider {
    margin-top: 2rem;
  }
  & header {
    justify-content: space-between;

    & h3 {
      font-weight: var(--fw-sb);
      font-size: var(--fs-sm);
      color: var(--text-color-secondary);
    }
  }

  & p {
    font-weight: var(--fw-xb);
    font-size: var(--fs-base);
    line-height: 1.4;
  }

  margin-bottom: 2rem;
  
}

@media (width >= 80em) {


  #weekly {
    grid-area: weekly;

    & .divider {
      margin-top: 5rem;
    }

    &>div {
      grid-template-columns: repeat(4, 18.25rem);
    }

    margin-bottom: 5rem;
  }
}

#highlights {
  & article {
    margin-top: 2rem;
    grid-template-columns: 0.35fr 1fr;
  }

  .divider {
    margin-bottom: .75rem;
  }

  & header {
    justify-content: space-between;

    & h3 {
      font-weight: var(--fw-sb);
      font-size: var(--fs-sm);
      color: var(--text-color-secondary);
    }
  }

  & img {
    width: 5rem;
  }
}

@media (width >= 80em) {
  #highlights {
    grid-area: highlights;
    max-width: 696px;

    & article {
      margin-top: 2rem;
      grid-template-columns: 1fr;
      grid-auto-flow: column;
    }
  
    & img {
      width: 11rem;
    }

  }
}

